In [151]:
import pandas as pd
import os, glob

In [152]:
master = pd.read_csv('/Users/bennett/PycharmProjects/ba810/data/species/Species_Database_wb_datanam2022.csv')

/var/folders/x3/42y9jxy964lg3yyk_9zhss280000gn/T/ipykernel_36836/3297713284.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  master = pd.read_csv('/Users/bennett/PycharmProjects/ba810/data/species/Species_Database_wb_datanam2022.csv')

In [153]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533464 entries, 0 to 533463
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   group             533464 non-null  object
 1   binomial          533464 non-null  object
 2   iucn_id_no        265845 non-null  float64
 3   common_name       226479 non-null  object
 4   name_language     226293 non-null  object
 5   iucn_category     479322 non-null  object
 6   iso_a3            533464 non-null  object
 7   total_area        533464 non-null  float64
 8   small_range       533464 non-null  int64
 9   wb_datanam        533464 non-null  object
 10  wb_iso            532546 non-null  object
 11  datanam_area      533464 non-null  float64
 12  datanam_pct_area  533464 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 52.9+ MB

In [154]:
# Add Surface Temperature Feature
surface_temp = pd.read_csv('/Users/bennett/PycharmProjects/ba810/data/climate/25_Annual_Surface_Temperature_Change.csv')

descriptor = surface_temp['CTS Name'][0]
feature = surface_temp[['ISO3', '2022']]
feature.rename(columns={'2022': descriptor}, inplace=True)

master = master.merge(feature, left_on='iso_a3', right_on='ISO3', how='left')
master

/var/folders/x3/42y9jxy964lg3yyk_9zhss280000gn/T/ipykernel_36836/485960091.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature.rename(columns={'2022': descriptor}, inplace=True)

,group,binomial,iucn_id_no,common_name,name_language,iucn_category,iso_a3,total_area,small_range,wb_datanam,wb_iso,datanam_area,datanam_pct_area,ISO3,Surface Temperature Change
0,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,IDN,1.280056e+05,0,Indonesia,IDN,37194.238281,29.056736,IDN,1.085
1,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,MYS,1.280056e+05,0,Malaysia,MYS,88498.500000,69.136452,MYS,1.367
2,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,THA,1.280056e+05,0,Thailand,THA,2312.827637,1.806818,THA,1.014
3,Amphibians,Abavorana nazgul,125160424.0,Gunung Jerai Black Stream-Frog,eng,CR,MYS,7.399752e+00,1,Malaysia,MYS,7.399752,100.000000,MYS,1.367
4,Amphibians,Acanthixalus sonjae,56054.0,Ivory Coast Wart Frog,eng,VU,CIV,6.030019e+03,0,Cote d'Ivoire,CIV,5699.439453,94.517769,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533459,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,QAT,1.656421e+06,0,Qatar,QAT,31305.994141,1.889978,QAT,1.855
533460,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SAU,1.656421e+06,0,Saudi Arabia,SAU,207403.015625,12.521153,SAU,1.745
533461,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SDN,1.656421e+06,0,Sudan,SDN,74390.328125,4.491028,SDN,0.773
533462,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SOM,1.656421e+06,0,Somalia,SOM,103410.703125,6.243021,SOM,1.449
533463,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,YEM,1.656421e+06,0,"Yemen, Rep.",YEM,244625.187500,14.768298,YEM,NaN

In [155]:
# Add Climate Related Disasters Feature
disasters = pd.read_csv('/Users/bennett/PycharmProjects/ba810/data/climate/30_Climate-related_Disasters_Frequency.csv')

feature = disasters[['ISO3', '2022', 'Indicator']]
feature = feature.pivot(index='ISO3', columns='Indicator', values='2022')

master = master.merge(feature, left_on='iso_a3', right_on='ISO3', how='left')
master

,group,binomial,iucn_id_no,common_name,name_language,iucn_category,iso_a3,total_area,small_range,wb_datanam,...,datanam_pct_area,ISO3,Surface Temperature Change,"Climate related disasters frequency, Number of Disasters: Drought","Climate related disasters frequency, Number of Disasters: Extreme temperature","Climate related disasters frequency, Number of Disasters: Flood","Climate related disasters frequency, Number of Disasters: Landslide","Climate related disasters frequency, Number of Disasters: Storm","Climate related disasters frequency, Number of Disasters: TOTAL","Climate related disasters frequency, Number of Disasters: Wildfire"
0,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,IDN,1.280056e+05,0,Indonesia,...,29.056736,IDN,1.085,NaN,NaN,13.0,NaN,NaN,13.0,NaN
1,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,MYS,1.280056e+05,0,Malaysia,...,69.136452,MYS,1.367,NaN,NaN,5.0,1.0,NaN,6.0,NaN
2,Amphibians,Abavorana luctuosa,125161167.0,Purple Frog,eng,LC,THA,1.280056e+05,0,Thailand,...,1.806818,THA,1.014,NaN,NaN,9.0,NaN,2.0,11.0,NaN
3,Amphibians,Abavorana nazgul,125160424.0,Gunung Jerai Black Stream-Frog,eng,CR,MYS,7.399752e+00,1,Malaysia,...,100.000000,MYS,1.367,NaN,NaN,5.0,1.0,NaN,6.0,NaN
4,Amphibians,Acanthixalus sonjae,56054.0,Ivory Coast Wart Frog,eng,VU,CIV,6.030019e+03,0,Cote d'Ivoire,...,94.517769,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533459,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,QAT,1.656421e+06,0,Qatar,...,1.889978,QAT,1.855,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533460,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SAU,1.656421e+06,0,Saudi Arabia,...,12.521153,SAU,1.745,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533461,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SDN,1.656421e+06,0,Sudan,...,4.491028,SDN,0.773,1.0,NaN,1.0,NaN,NaN,2.0,NaN
533462,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,SOM,1.656421e+06,0,Somalia,...,6.243021,SOM,1.449,NaN,NaN,1.0,NaN,NaN,1.0,NaN
533463,Salt_Water_Fish,Zebrasoma xanthurum,178009.0,Yellowtail Tang,eng,LC,YEM,1.656421e+06,0,"Yemen, Rep.",...,14.768298,YEM,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN

In [198]:
# Precipitation and Population Density
from time import sleep
import requests
base = 'https://cckpapi.worldbank.org/cckp/v1/' 

countries = master['ISO3'].dropna().unique().tolist()

population_density = 'pop-x1_timeseries_popdensity_timeseries_annual_2010-2100_mean_ssp119_gpw-v4_rev11_mean/VALUE?_format=json'
precipitation = 'cmip6-x0.25_timeseries_pr_timeseries_annual_2015-2100_mean_ssp126_access-cm2_r1i1p1f1_mean/VALUE?_format=json'

pop_query = base + population_density
precip_query = base + precipitation

json_data = {'Population Density': [], 'Precipitation': [], 'ISO3': []}

In [209]:
for i in range(0, len(countries), 3):
    batch = countries[i:i+3]
    
    batch_pop_query = pop_query.replace('VALUE', ','.join(batch))
    batch_pop = requests.get(batch_pop_query).json()
    
    sleep(5)
    
    batch_precip_query = precip_query.replace('VALUE', ','.join(batch))
    batch_precip = requests.get(batch_precip_query).json()
    
    sleep(5)
    
    # population density
    for j in range(0, len(batch)):
        try:
            json_data['Population Density'].append(batch_pop['data'][batch[j]]['2020-07'])
            json_data['ISO3'].append(batch[j])
        except:
            json_data['Population Density'].append('error')
            json_data['ISO3'].append(batch[j])
        
    for j in range(0, len(batch)):
        try:
            json_data['Precipitation'].append(round(float(batch_precip['data'][batch[j]]['2022-07']) - float(batch_precip['data'][batch[j]]['2021-07']), 2))
        except:
            json_data['Precipitation'].append('error')

In [211]:
pop_pre = pd.DataFrame(json_data)

In [212]:
pop_pre

    Population Density Precipitation ISO3
0                50.09         97.02  AFG
1                 None         -3.12  USA
2               418.88        165.81  IND
3                 95.4        -58.41  IDN
4                42.03         11.69  MYS
..                 ...           ...  ...
221               None         870.9  TUV
222               2.98        206.62  ISL
223                  0        112.47  PCN
224              13.13        112.82  FRO
225              error         error  FLK

[226 rows x 3 columns]

In [213]:
master = master.merge(pop_pre, left_on='iso_a3', right_on='ISO3', how='left')
master.rename(columns={'Precipitation': 'Change in Precipitation', 'datanam_area': 'Inhabited Area within Country'}, inplace=True)
master.drop(columns={'ISO3_x', 'ISO3_y'}, inplace=True)

In [ ]:
ghg = pd.read_excel('/Users/bennett/PycharmProjects/ba810/data/climate/EDGARv8.0_FT2022_GHG_booklet_2023.xlsx', sheet_name='GHG_totals_by_country')
master = master.merge(ghg[['EDGAR Country Code', 2022]].rename(columns={2022: 'GHG emissions'}), left_on='iso_a3', right_on='EDGAR Country Code').drop(columns=['EDGAR Country Code'])

In [220]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546953 entries, 0 to 546952
Data columns (total 23 columns):
 #   Column                                                                         Non-Null Count   Dtype
---  ------                                                                         --------------   -----
 0   group                                                                          546953 non-null  object
 1   binomial                                                                       546953 non-null  object
 2   iucn_id_no                                                                     274122 non-null  float64
 3   common_name                                                                    233601 non-null  object
 4   name_language                                                                  233242 non-null  object
 5   iucn_category                                                                  491534 non-null  object
 6   iso_a3                                                                         546953 non-null  object
 7   total_area                                                                     546953 non-null  float64
 8   small_range                                                                    546953 non-null  int64
 9   wb_datanam                                                                     546953 non-null  object
 10  wb_iso                                                                         546035 non-null  object
 11  Inhabited Area within Country                                                  546953 non-null  float64
 12  datanam_pct_area                                                               546953 non-null  float64
 13  Surface Temperature Change                                                     502862 non-null  float64
 14  Climate related disasters frequency, Number of Disasters: Drought              84941 non-null   float64
 15  Climate related disasters frequency, Number of Disasters: Extreme temperature  26861 non-null   float64
 16  Climate related disasters frequency, Number of Disasters: Flood                328935 non-null  float64
 17  Climate related disasters frequency, Number of Disasters: Landslide            78856 non-null   float64
 18  Climate related disasters frequency, Number of Disasters: Storm                168645 non-null  float64
 19  Climate related disasters frequency, Number of Disasters: TOTAL                390495 non-null  float64
 20  Climate related disasters frequency, Number of Disasters: Wildfire             40220 non-null   float64
 21  Population Density                                                             491245 non-null  object
 22  Change in Precipitation                                                        523153 non-null  object
dtypes: float64(12), int64(1), object(10)
memory usage: 96.0+ MB

In [221]:
features = master[['group', 'total_area', 'Inhabited Area within Country', 'Surface Temperature Change', 'Climate related disasters frequency, Number of Disasters: Drought', 'Climate related disasters frequency, Number of Disasters: Extreme temperature', 'Climate related disasters frequency, Number of Disasters: Landslide', 'Climate related disasters frequency, Number of Disasters: Flood', 'Climate related disasters frequency, Number of Disasters: Storm', 'Climate related disasters frequency, Number of Disasters: Wildfire', 'Population Density', 'Change in Precipitation', 'GHG emissions']]

In [222]:
predictor_vector = master['iucn_category']

In [224]:
master.to_csv('/Users/bennett/PycharmProjects/ba810/data/learning_set.csv')